<div class="legal-page-wrapper">
    <div class="legal-page-content">
        <div class="legal-page">
            <h1 class="title">Legal Notice</h1>

            <h2 class="sub-title">1. Information According to § 5 TMG</h2>
            <p>
                Responsible for the content of this application according to § 5 TMG:
                <br />
                <strong>Name:</strong> Marc Döhring, Christopher Haensch, Miles Pickull<br />
                <strong>Address:</strong> Redacted for privacy<br />
                <strong>Email:</strong> info-join&#64;haensch.dev
            </p>

            <h2 class="sub-title">2. Liability for Contents</h2>
            <p>
                We make every effort to keep the information on our application up to date. However, we do not accept any
                liability for the correctness, completeness, or quality of the information provided.
            </p>
            <p>
                As a service provider, we are responsible for our own content on these pages in accordance with general laws
                pursuant to § 7 para. 1 TMG. However, according to §§ 8 to 10 TMG, we are not obligated to monitor transmitted or
                stored third-party information or to investigate circumstances that indicate illegal activity.
            </p>

            <h2 class="sub-title">3. Liability for Links</h2>
            <p>
                Our application may contain links to external websites over which we have no control. Therefore, we cannot accept
                any liability for external content. The respective provider or operator of the linked pages is always responsible
                for their content.
            </p>

            <h2 class="sub-title">4. Copyright</h2>
            <p>
                The content and works provided in this application are subject to copyright law. Duplication, editing, distribution,
                or any kind of exploitation outside the limits of copyright law require the written consent of the respective
                author or creator.
            </p>

            <h2 class="sub-title">5. Dispute Resolution</h2>
            <p>
                The European Commission provides a platform for online dispute resolution (ODR):
                <a href="https://ec.europa.eu/consumers/odr/" target="_blank">https://ec.europa.eu/consumers/odr/</a><br />
                We are neither willing nor obligated to participate in dispute resolution proceedings before a consumer arbitration board.
            </p>

            <br><br><br>
            <p>Last updated: September 9, 2025</p>
        </div>
    </div>
</div>

