@use "./../../../styles/variables.scss" as *;
@use "./../../../styles/mixings.scss" as *;

:host {
    height: $footer-height;
    display: block;
}

.foot-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a3647;
    z-index: 10;

    .footer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .main-nav {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            a {
                color: $color-text;
                text-decoration: none;
                padding: 12px;
                border-radius: 16px;
                width: 100px;
                height: 100%;

                @include breakpoint-down("sm") {
                    width: 80px;
                }

                @include breakpoint-down("xsm") {
                    padding-left: 8px;
                    padding-right: 8px;
                    width: 70px;
                }

                &:not(.active) {
                    transition: background-color 0.2s;

                    &:hover {
                        color: white;
                        background-color: #2a3d59;
                        cursor: pointer;

                        .btn-inner {
                            transform: scale(1.02) translateX(-2px) translateY(-1px);
                            transition: transform 0.3s ease-out;
                        }

                        ::ng-deep svg {
                            path {
                                fill: white !important;
                            }
                        }
                    }
                }

                .btn-inner {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .icon {
                        @include breakpoint-down("sm") {
                            transform: scale(0.9);
                            margin-bottom: 0;
                        }
                    }

                    span {
                        @include breakpoint-down("sm") {
                            font-size: 14px;
                            white-space: nowrap;
                        }
                    }
                }
            }

            .active {
                background-color: #091931 !important;
                color: white !important;

                &:hover {
                    cursor: default;
                }
            }
        }
    }
}