@use '../../../../styles/variables.scss' as *;
@use '../../../../styles/mixings.scss' as *;

:host {
    width: 100%;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;

    .input-title {
        display: flex;
        margin-bottom: 4px;
    }

    .input-sm {
        height: 48px;
        width: 100%;
        font-size: 18px;
        font-family: Inter;
        font-weight: 400;
    }

    .border {
        border: 1px solid $color-input-border;
        border-radius: 8px;
        padding: 8px;
    }
}

.btn:hover {
    cursor: pointer;
}

.subtask-input {
    position: relative;
    z-index: 0;
    .icon-wrapper {
        position: absolute;
        top: 40px;
        right: 13px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-plus {
            position: relative;
            height: 24px;
            width: 24px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            .plus {
                font-size: 24px;
                position: absolute;
                bottom: 0;
            }
            &:hover {
                background-color: $color-input-border;
                border-radius: 50%;
            }
        }
    }

    .wrap-create {
        justify-content: center;
        align-items: center;
        gap: 4px;
        display: none;

        .icon-x {
            height: 24px;

            &:hover {
                background-color: $color-input-border;
                border-radius: 50%;
            }
        }

        .icon-check {
            height: 24px;
            width: 24px;
            padding-left: 3px;
            &:hover {
                background-color: $color-input-border;
                border-radius: 50%;
            }
        }
    }
}

.subtask-wrapper {
    width: 100%;
    max-height: 180px;
    overflow-y: auto;

    .subtask-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        margin-top: 16px;
    }

    .subtask {
        width: 90%;
        padding: 4px;
        margin-right: 12px;

        &__inner {
            height: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .subtask.hover {
        background-color: $color-input-border;
        border-radius: 8px;
    }

    .subtask-edit {
        height: 32px;
        padding: 4px;
        background-color: $color-white;
        border-bottom: 1px solid $color-primary-hover;

        &__input {
            width: 100%;
            border: none !important;
            font-size: 16px;
        }

        textarea:focus,
        input:focus {
            outline: none;
        }
    }

    .icon-wrapper-small {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        .icon-container {
            height: 24px;
            width: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 0.3s ease-out;
        }

        .icon-container:hover {
            transform: scale(1.08);
            transition: transform 0.3s ease-in;
            cursor: pointer;
        }

        .icon-container.edit {
            height: 18px;
            width: 18px;
        }

        .icon-container.edit:hover {
            background-color: $color-input-border;
            border-radius: 50%;
        }

        .icon {
            height: 18px;
        }
    }

    .hidden {
        display: none;

        @include breakpoint-down-touch('all') {
            display: flex;
        }
    }

    .hidden.hover {
        display: flex;
    }
}

.seperator-mini {
    height: 24px;
    width: 1.2px;
    background-color: $color-text;
    border-radius: 1px;
}

.seperator-mini.hover {
    background-color: $color-dark-text;
}

.blue-focus {
    &:focus {
        outline: none;
        border: 2px solid $color-primary-hover !important;
    }

    &:focus:not(:focus-visible) {
        outline: none;
        border: 2px solid $color-primary-hover !important;
    }

    &:focus-visible {
        outline: none;
        border: 2px solid $color-primary-hover !important;
    }

    &:focus-within {
        outline: none;
        border: 2px solid $color-primary-hover !important;
    }
}

.d-flex {
    display: flex !important;
}

.d-none {
    display: none !important;
}
