@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixings.scss' as *;

.section-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #42526e;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1040;

    &.not-slide {
        background-color: transparent;
    }
}

.modal-wrapper {
    width: 540px;
    max-width: 90%;
    min-height: 500px;
    max-height: 90vh;
    background: #fff;
    border-radius: 24px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    overflow: auto;
    scrollbar-width: none;

    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.4s ease, opacity 0.3s ease;

    &.slide {
        opacity: 1;
        transform: translateX(0%);
        transition: transform 0.4s ease, opacity 0.3s ease;
    }

    &.edit {
        height: 90vh;
    }
}

.modal-content {
    position: relative;
    width: 96%;
    margin: auto;
    padding: 24px;
    overflow-y: auto;

    &.edit {
        padding: 12px;
        width: 96%;
    }

    .modal-header {
        position: absolute;
        right: 32px;
        top: 32px;
        z-index: 1050;

        .close-btn {
            background: transparent;
            border: none;
            font-size: 32px;
            cursor: pointer;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: background 0.2s ease;

            &:hover {
                background-color: #e0e0e0;
            }
        }
    }

    .task-type {
        font-size: 16px;
        color: #fff;
        background-color: rgb(83, 83, 83);
        padding: 4px 12px;
        border-radius: 8px;
        display: inline-block;
        margin-bottom: 12px;

        &.user-story {
            background-color: #0038ff;
        }

        &.technical {
            background-color: #1fd7c1;
        }
    }

    .task-title {
        margin: 16px 0 16px;
        color: #333;
        font-style: Bold;
        font-size: 36px;
    }

    .task-description {
        font-size: 20px;
        color: #555;
        margin-bottom: 16px;
    }

    .task-meta {
        p {
            margin: 4px 0;
            font-size: 16px;
            color: #42526e;

            strong {
                font-weight: 600;
            }
        }

        margin-bottom: 16px;
    }

    .assigned-section {
        p {
            font-weight: 600;
            margin-bottom: 6px;
            color: #42526e;
        }

        .assignees {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 8px;
            padding: 10px;

            .assignee {
                display: flex;
                align-items: center;
                gap: 6px;

                .avatar {
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    background-color: #ccc;
                    color: #fff;
                    font-weight: 400;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    border: 2px solid #fff;
                }

                .name {
                    font-size: 16px;
                    color: #333;
                    margin-left: 10px;
                }
            }
        }

        margin-bottom: 16px;
    }

    .subtasks {
        p {
            font-weight: 600;
            margin-bottom: 6px;
        }

        .subtask {
            display: flex;
            align-items: center;
            margin-bottom: 0px;
            padding-left: 13px;
            padding-top: 10px;

            input[type='checkbox'] {
                display: none;

                & + label {
                    position: relative;
                    padding-left: 32px;
                    font-size: 16px;
                    color: #555;
                    cursor: pointer;
                    border-radius: 6px;
                    padding: 4px 6px 4px 32px;
                    transition: background-color 0.2s ease;
                }

                & + label:hover {
                    background-color: #eeeeee;
                }

                & + label::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 24px;
                    height: 24px;
                    background: url('../../../../public/assets/icons/checkbox-empty.svg') no-repeat center;
                    background-size: 20px 20px;
                }

                &:checked + label::before {
                    background: url('../../../../public/assets/icons/checkbox-checked.svg') no-repeat center;
                    background-size: 20px 20px;
                }
            }
        }

        margin-bottom: 32px;
    }

    .modal-footer {
        display: flex;
        justify-content: flex-end;
        gap: 12px;

        button {
            padding: 6px 12px;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: 600;
            transition: background 0.2s ease;

            &.delete-btn {
                background-color: #ff4d4f;
                color: #fff;

                &:hover {
                    background-color: #e63946;
                }
            }

            &.edit-btn {
                background-color: #1fd7c1;
                color: #fff;

                &:hover {
                    background-color: #17c3b2;
                }
            }
        }
    }
}

.task-meta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;

    .meta-item {
        p {
            margin: 4px 0;
            font-size: 16px;
            color: #444;

            strong {
                font-weight: 600;
                margin-right: 12px;
            }

            img.priority-icon {
                vertical-align: middle;
            }
        }

        &.due-date {
            p {
                display: flex;
                gap: 5px;
            }
        }

        &.priority {
            p {
                display: flex;
                gap: 18px;
            }
        }
    }
}

.task-action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.action-button {
    text-decoration: none;

    &-wrapper {
        &:first-child {
            border-right: 1px solid gray;
            padding-right: 10px;
        }
    }

    .btn-inner {
        display: flex;

        .icon {
            margin-right: 12px;
        }

        span {
            color: $color-primary;
            text-decoration: none;
        }
    }

    &:hover {
        cursor: pointer;

        .btn-inner {
            transform: scale(1.04);
            transition: transform 0.3s ease-out;
        }

        ::ng-deep .icon {
            path {
                fill: $color-primary-hover !important;
            }
        }

        span {
            color: $color-primary-hover !important;
        }
    }
}
