@if (task) {
<div class="modal-overlay" (click)="onOutsideClick($event)" [class.not-slide]="!isSlide">
  <div class="modal-wrapper" [class.edit]="asEdit" [class.slide]="isSlide">
    <div class="modal-content" [class.edit]="asEdit">
      <!-- Header -->
      <div class="modal-header">
        <button class="close-btn" (click)="this.closeModal()">×</button>
      </div>
      @if (!asEdit) {
      <div
        class="task-type"
        [class.user-story]="taskUserStory"
        [class.technical]="taskTechnical"
      >
        {{ taskCategory }}
      </div>

      <!-- Title + Description -->
      <h2 class="task-title">{{ task.title }}</h2>
      <p class="task-description">{{ task.description }}</p>

      <!-- Meta Infos -->
      <div class="task-meta">
        <div class="meta-item due-date">
          <p>
            <strong class="section-title">Due Date:</strong>
            {{ task.dueDate | date : "dd/MM/yyyy" }}
          </p>
        </div>
        <div class="meta-item priority">
          <p>
            <strong class="section-title">Priority:</strong>
            {{ getPriorityLabel() }}
            <img [src]="taskPriority()" alt="Priority" class="priority-icon" />
          </p>
        </div>
      </div>

      <!-- Assigned To -->
      <div class="assigned-section">
        <p><strong class="section-title">Assigned to:</strong></p>
        <div class="assignees">
          @for (a of assignedContacts; track $index) {
            @if (a && a.name && a.initials) {
          <div class="assignee">
            <span class="avatar" [style.background-color]="a.color">
              {{ a.initials }}
            </span>
            <span class="name">{{ a.name }}</span>
          </div>
          }
          }
        </div>
      </div>

      <!-- Subtasks -->
      <div class="subtasks">
        <p><strong class="section-title">Subtasks:</strong></p>
        @for (subtask of task.subtasks; track subtask.title; let i = $index) {
        <div class="subtask">
          <input
            type="checkbox"
            id="subtask-{{ i }}"
            [checked]="subtask.done"
            (change)="toggleSubtask(i)"
          />
          <label for="subtask-{{ i }}">{{ subtask.title }}</label>
        </div>
        }
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <div class="task-action-buttons">
          <div class="action-button-wrapper">
            <a class="action-button" (click)="openDeleteModal()">
              <div class="btn-inner">
                <div [innerHTML]="svgContents['delete']" class="icon"></div>
                <span>Delete</span>
              </div>
            </a>
          </div>
          <div class="action-button-wrapper">
            <a class="action-button" (click)="asEdit = true">
              <div class="btn-inner">
                <div [innerHTML]="svgContents['edit']" class="icon"></div>
                <span>Edit</span>
              </div>
            </a>
          </div>
        </div>
      </div>

      } @else if (asEdit) {
      <app-add-task
        (closeModal)="this.closeModal()"
        [asEdit]="true"
        [asModal]="true"
        [task]="task"
        [selectedContacts]="selectedContacts"
        [assignedContactsNames]="assignedContactsNames"
      ></app-add-task>
      }
    </div>
  </div>
</div>
}
