@use './../styles/variables.scss' as *;
@use './../styles/mixings.scss' as *;

.page-wrapper {
    display: none;
    flex-direction: row;
    height: 100%;
    
    &.show {
        display: flex;
    }

    app-sidebar {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 232px;
        @include breakpoint-down('lg') {
            display: none;
        }
    }

    .content {
        width: 100%;
        overflow-y: hidden;
        height: 100%;
    }

    app-footer {
        display: none;

        @include breakpoint-down('lg') {
            display: block;
        }
    }
}

// <div class="page-wrapper">
//   <app-sidebar></app-sidebar>
//   <div class="content">
//     <app-header></app-header>
//     <router-outlet></router-outlet>
//   </div>
// </div>

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
