@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixings.scss' as *;

:host {
    height: 100%;
    width: 100%;
    min-height: 720px;
    background-color: $color-primary-bg;
    overflow-y: auto;

    @include breakpoint-down('sm') {
        min-height: 660px;
    }
}

.page-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 145;

    @include breakpoint-up('xl') {
        max-width: 1640px;
        margin: auto;
    }

    &.fade {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}

.button-wrapper {
    position: absolute;
    top: 48px;
    right: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .mobile {
        display: none;
    }

    .sign-text {
        font-size: 20px;
        line-height: 120%;
        font-weight: 400;
    }

    @include breakpoint-down('lg') {
        top: 30px;
        right: 30px;
    }

    @include breakpoint-down('sm') {
        top: auto;
        bottom: 68px;
        right: auto;

        .desktop {
            display: none;
        }

        .mobile {
            display: flex;
            width: 100px;
        }
    }
}

.logIn-wrapper {
    height: 450px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    overflow: visible;
    transition: height 0.2s ease, width 0.2s ease;

    &.sign-up {
        height: 630px;
        width: 600px;
        transition: width 0.2s ease;
    }

    @include breakpoint-down('md') {
        &.sign-up {
            height: 580px;
        }
    }

    @include breakpoint-down('sm') {
        height: 410px;
        margin-bottom: 24px;

        &.sign-up {
            height: 520px;
        }
    }
}

.logo-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: $color-primary-bg;
    z-index: 150;

    @include breakpoint-up('lg') {
        &.animate {
            animation: logoWrapAnimation 0.5s ease-in;
            width: auto;
            height: auto;
        }

        @keyframes logoWrapAnimation {
            0% {
                height: 100%;
                width: 100%;
                background-color: $color-primary-bg;
            }

            40% {
                background-color: transparent;
            }

            100% {
                height: 20%;
                width: 11%;
            }
        }
    }

    .logo {
        width: 180px;
        margin: 0;

        @include breakpoint-up('lg') {
            &.animate {
                width: 88px;
                margin-left: 48px;
                margin-top: 48px;
                animation: logoAnimation 0.5s ease-in;
            }

            @keyframes logoAnimation {
                0% {
                    width: 180px;
                    margin: 0;
                }

                100% {
                    width: 88px;
                    margin-left: 48px;
                    margin-top: 48px;
                }
            }
        }
    }

    @include breakpoint-down('lg') {
        &.animate {
            animation: logoWrapMobile 0.5s ease-in forwards;
        }

        .logo.animate {
            width: 66px;
            margin-left: 30px;
            margin-top: 30px;
            animation: logoMobile 0.5s ease-in forwards;
        }

        @keyframes logoMobile {
            0% {
                width: 180px;
                margin: 0;
            }

            100% {
                width: 66px;
                margin-left: 24px;
                margin-top: 24px;
            }
        }

        @keyframes logoWrapMobile {
            0% {
                height: 100%;
                width: 100%;
                background-color: $color-primary-bg;
            }

            40% {
                background-color: transparent;
            }

            100% {
                height: 14%;
                width: 22%;
            }
        }
    }

    @include breakpoint-down('sm') {
        .logo.animate {
            width: 52px;
        }
    }
}

.lower-wrapper {
    position: absolute;
    bottom: 30px;

    .lower-links-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .lower-link {
        color: $color-dark-text;
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.06);
            transition: transform 0.2s ease;
            color: $color-primary-hover;
        }
    }
}

.d-none {
    display: none !important;
}

.o-none-mobile {
    @include breakpoint-down('md') {
        @media (max-height: 762px) {
            opacity: 0;
        }
    }
}
