@use './variables.scss' as *;
@use 'sass:map';

@mixin breakpoint-up($size) {
    @if map.has-key($breakpoints, $size) {
        $value: map.get($breakpoints, $size);

        @if $value > 0 {
            @media (min-width: $value) {
                @content;
            }
        } @else {
            @content;
        }
    } @else {
        @error "There is no breakpoint named '#{name}' in $breakpoints map";
    }
}

@mixin breakpoint-down($size) {
    @if map.has-key($breakpoints, $size) {
        $value: map.get($breakpoints, $size);

        @if $value > 0 {
            @media (max-width: $value) {
                @content;
            }
        } @else {
            @content;
        }
    } @else {
        @error "There is no breakpoint named '#{name}' in $breakpoints map";
    }
}

@mixin breakpoint-down-touch($size) {
    @if map.has-key($breakpoints, $size) {
        $value: map.get($breakpoints, $size);

        @if $value > 0 {
            @media (max-width: $value) and (pointer: coarse) {
                @content;
            }
        } @else {
            @media (pointer: coarse) {
                @content;
            }
        }
    } @else {
        @error "There is no breakpoint named '#{$size}' in \$breakpoints map";
    }
}
