$color-primary: #2a3647;
$color-primary-hover: #29abe2;
$color-primary-bg: #f6f7f8;
$color-secondary-hover: #091931;
$color-dark-hover: #313e50;
$color-white: #ffffff;
$color-black: #000000;
$color-text: #cdcdcd;
$color-link: #007cee;
$color-dark-text: #a8a8a8;
$body-font-family: Inter;
$color-input-border: #D1D1D1;
$color-danger-red: #FF3D00;
$color-danger-red-hover: #ff0000;
$color-warn-yellow: #FFA800;
$color-warn-yellow-hover: #ffd900;
$color-success-green: #7AE229;
$color-success-green-hover: #97f84d;
$color-none: #00000000;

$header-height: 96px;
$footer-height: 80px;

$mq-mobile: 980px;

$breakpoints: (
  xs: 0,
  xxsm: 320px,
  xsm: 362px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  lg1: 1079px,
  xl: 1200px,
  xxl: 1400px,
  all: 4200px,
);
