@if(isOpen) {
<div class="modal-backdrop" [class.open]="isSlide">
  <div class="modal-wrapper" [class.slide-in]="isSlide">
    <div class="modal">
      <button class="modal-close-btn" (click)="closeModal()">
        <img src="assets/icons/close.svg" alt="Close" />
      </button>
      <button class="modal-close-btn mobile" (click)="closeModal()">
        <img src="assets/icons/close responsive.svg" alt="Close" />
      </button>

      <div class="modal-left">
        <img
          src="assets/logo/join-logo-white.svg"
          alt="Logo"
          class="modal-logo"
        />
        <div class="modal-left__content">
          <h1>Add Contact</h1>
          <h2>Tasks are better with a team!</h2>
          <div class="horizontal-separator"></div>
        </div>
      </div>

      <div class="modal-right">
        <div class="modal-avatar">
          <img
            src="assets/icons/Group 13.svg"
            alt="Avatar"
            class="avatar-svg"
          />
        </div>
        <form
          (ngSubmit)="createContact(addContactForm); $event.preventDefault()"
          #addContactForm="ngForm"
        >
          <!-- Name -->
          <div class="input-wrapper">
            <div class="input-with-icon">
              <input
                type="text"
                placeholder="Name"
                required
                [(ngModel)]="fullName"
                name="fullName"
                aria-describedby="addContactHelp"
                #nameV="ngModel"
                (input)="onNameInput($event)"
                pattern="^[A-Za-zÄÖÜäöüß]{2,}\s[A-Za-zÄÖÜäöüß]{2,}$"
                [class.has-error]="addContactForm.submitted && nameV.errors"
              />
              <img src="assets/icons/person.svg" alt="Name" />
            </div>
            @if(addContactForm.submitted && nameV.errors?.['required']) {
            <small class="form-error">Name is required</small>
            } @if(addContactForm.submitted && nameV.errors?.['pattern']) {
            <small class="form-error"
              >Wrong format. Needs to be "Firstname Lastname"</small
            >
            }
          </div>

          <!-- E-Mail -->
          <div class="input-wrapper">
            <div class="input-with-icon">
              <input
                type="email"
                placeholder="Email"
                required
                [(ngModel)]="contact.email"
                name="email"
                #emailV="ngModel"
                email
                [class.has-error]="addContactForm.submitted && emailV.errors"
              />
              <img src="assets/icons/mail.svg" alt="Email" />
            </div>
            @if(addContactForm.submitted && emailV.errors?.['required']) {
            <small class="form-error">Email is required</small>
            } @if (addContactForm.submitted && emailV.errors?.['email']) {
            <small class="form-error">Please enter a valid email address</small>
            }
          </div>

          <!-- Telefon -->
          <div class="input-wrapper">
            <div class="input-with-icon">
              <input
                type="tel"
                placeholder="Phone"
                required
                [(ngModel)]="contact.phoneNumber"
                name="phoneNumber"
                pattern="^[0-9\s\-\+\(\)]{6,}$"
                #phoneV="ngModel"
                [class.has-error]="addContactForm.submitted && phoneV.errors"
              />
              <img src="assets/icons/call.svg" alt="Phone" />
            </div>
            @if(addContactForm.submitted && phoneV.errors?.['required']) {
            <small class="form-error">Phone is required</small>
            } @if (addContactForm.submitted && phoneV.errors?.['pattern']) {
            <small class="form-error"
              >Enter a valid phone number (min. 6 digits)</small
            >
            }
          </div>

          <div class="modal-buttons">
            <app-button
              class="cancel-btn"
              iconSrc="assets/icons/iconoir_cancel.svg"
              altText="Cancel"
              [fontSize]="'16px'"
              (btnClick)="closeModal()"
              [invert]="true"
              [size]="'medium'"
            >
              Cancel
            </app-button>

            <app-button
              iconSrc="assets/icons/check.svg"
              altText="Create"
              [fontSize]="'16px'"
              [size]="'medium'"
              [type]="'submit'"
              class="desktop"
            >
              Create Contact
            </app-button>

            <app-button
              iconSrc="assets/icons/check.svg"
              altText="Create"
              [fontSize]="'16px'"
              [size]="'small'"
              [type]="'submit'"
              class="mobile"
            >
              Create Contact
            </app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
}
