@use "../../../styles/variables.scss" as *;
@use "./../../../styles/mixings.scss" as *;

:host {
  height: calc(100% - $header-height);
  display: block;

  @include breakpoint-down("lg") {
    height: calc(100% - $header-height - $footer-height);
  }

  @include breakpoint-down("md") {
    height: calc(100% - $header-height - $footer-height + 16px);
  }

  @include breakpoint-down("sm") {
    height: calc(100% - $header-height - $footer-height + 24px);
  }
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.contact-list-wrapper {
  max-width: 35%;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 4px 0px 6px 0px #00000014;
  overflow-y: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include breakpoint-down("lg1") {
    max-width: 40%;
  }

  @include breakpoint-down("lg") {
    max-width: 100%;
  }
}

.contact-details-wrapper {
  position: relative;
  max-width: 65%;
  width: 100%;
  background-color: #f6f7f8;
  min-height: calc(100vh - 60px);
  box-shadow: 4px 4px 13px -8px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 4px 4px 13px -8px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 4px 4px 13px -8px rgba(0, 0, 0, 0.75) inset;
  @include breakpoint-down("lg") {
    display: none;
  }
}

.contact-details-offcanvas {
  position: absolute;
  top: $header-height;
  left: 0;
  width: 100vw;
  height: calc(100vh - $header-height - $footer-height);
  background: #f6f7f8;

  @include breakpoint-up("lg") {
    display: none;
  }

  @include breakpoint-down("md") {
    height: calc(100% - $header-height - $footer-height + 16px);
    top: calc($header-height - 16px);
  }

  @include breakpoint-down("sm") {
    height: calc(100% - $header-height - $footer-height + 24px);
    top: calc($header-height - 16px);
  }

  .arrow-back {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 24px;
    width: 40px;
    font-size: 32px;
    color: $color-primary-hover;
    text-decoration: none;
    cursor: pointer;
  }
}

.add-contact-wrapper {
  width: 79.79873%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;

  @include breakpoint-down("lg") {
    display: none;
  }
}
