<main class="content-wrapper">
  <!-- Add contact list as component -->
  <div class="contact-list-wrapper">
    <div class="add-contact-wrapper">
      <app-button
        iconSrc="assets/icons/person_add.svg"
        altText="Add Contact"
        (btnClick)="openAddContactModal()"
        [fontSize]="'20px'"
      >
        Add new contact
      </app-button>
    </div>

    <app-contacts-list (selectContact)="openDetails()"></app-contacts-list>
  </div>

  <!-- Add contact details as componemt -->
  <div class="contact-details-wrapper">
    <app-contact-details></app-contact-details>
  </div>
  @if (isDetailOpen) {
  <div class="contact-details-offcanvas">
    <a
      class="arrow-back"
      routerLink=""
      (click)="closeDetails(); $event.preventDefault()"
      ><span>&#x2190;</span></a
    >
    <app-contact-details (close)="closeDetails()"></app-contact-details>
  </div>
  }

  <!-- Add "add contact" Modal as component -->
  <app-add-contact-modal></app-add-contact-modal>

  <!-- Add "edit contact" Modal as component -->
</main>
