@use "./../../../styles/variables.scss" as *;
@use "./../../../styles/mixings.scss" as *;

.modal-backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 1010;
  transition: opacity 0.4s ease-out;

  &.open {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }
}

.modal-wrapper {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;

  &.slide-in {
    transform: translateX(22.5%);
    opacity: 1;
    transition: transform 0.8s ease, opacity 0.8s ease;

    @include breakpoint-down("md") {
      transform: translateX(12.5%);
    }

    @include breakpoint-down("sm") {
      transform: translateX(0%);
    }
  }
}

.modal {
  width: 55%;
  height: 100%;
  max-width: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: $color-white;
  border-radius: 16px;

  .logo-background {
    background-color: $color-primary;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    h1 {
      margin-left: 0;
      color: $color-white;
      font-size: 48px;

      @include breakpoint-down("lg") {
        font-size: 32px;
      }
    }

    .logo {
      height: 54px;
      margin-right: 18px;

      @include breakpoint-down("lg") {
        height: 42px;
      }

      @include breakpoint-down("sm") {
        display: none;
      }
    }
  }

  .title-wrap {
    position: relative;
    background-color: $color-primary;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 48px;

    h2 {
      color: $color-text;
      font-size: 48px;
      margin: 0;

      @include breakpoint-down("lg") {
        font-size: 32px;
      }
    }

    h3 {
      color: $color-text;
      font-size: 36px;
      margin: 0;
      margin-top: 8px;
      margin-left: 18px;

      @include breakpoint-down("lg") {
        font-size: 28px;
        margin-top: 0;
        margin-left: 12px;
      }
    }

    .horizontal-separator {
      position: absolute;
      top: 62%;
      left: 24%;
      width: 24%;

      @include breakpoint-down("lg") {
        top: 52%;
        left: 23%;
        width: 22%;
      }
    }
  }

  @include breakpoint-down("md") {
    width: 75%;
  }

  @include breakpoint-down("sm") {
    width: 100%;
  }
}

.text {
  margin-top: 48px;
  max-width: 80%;
}

.contact-item {
  width: 60%;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 16px;

  &__logo {
    margin-right: 24px;

    .logo-initials {
      width: 56px;
      aspect-ratio: 1 / 1;
      border-radius: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: larger;
      font-weight: 500;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    color: $color-primary;

    .contact-name {
      color: $color-primary;
    }
  }
}

.task-item {
  width: 60%;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 16px;

  &_info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    color: $color-primary;

    .task-name {
      color: $color-primary;
    }
  }
}

.btn-wrapper {
  width: 100%;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-evenly;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}