<div *ngIf="isOpen" class="modal-backdrop" [ngClass]="{ 'open': isOpen }">
    <div class="modal-wrapper" [ngClass]="{ 'slide-in': slideIn }">
        <div class="modal">
            <div class="logo-background">
                <img src="assets/logo/join-logo-white.svg" alt="Join Logo" class="logo">
                <h1>Please Confirm</h1>
            </div>
            <div class="flex title-wrap">
                <h2 class="">Delete:</h2>
                <h3>{{this.deleteType}}</h3>
                <div class="horizontal-separator"></div>
            </div>
            <span class="text">
                Are you sure you want to delete the following {{this.deleteType}} ?
            </span>
            @if (this.deleteType === 'Contact') {
            <div class="contact-item">
                <div class="contact-item__logo">
                    <p class="logo-initials" [style.background-color]="contact.id | coloredProfile">
                        {{ initialLettersService.getInitialLetters(contact) }}
                    </p>
                </div>
                <div class="contact-item__info">
                    <h3 class="contact-name">
                        {{ contact.firstName }} {{ contact.lastName }}
                    </h3>
                </div>
            </div>
            } @else if (this.deleteType) {
            <div class="task-item">
                <div class="task-item__info">
                    <h3 class="task-name">
                        {{ this.task.title }}
                    </h3>
                </div>
            </div>
            }
            <div class="btn-wrapper">
                <app-button (click)="closeModal()" [fontSize]="'18px'" [size]="'large'" [invert]="true"
                    [iconSrc]="'assets/icons/close.svg'">
                    Cancel
                </app-button>
                <app-button (click)="deleteSelect()" [fontSize]="'18px'" [size]="'medium'" [invert]="false"
                    [iconSrc]="'assets/icons/delete.svg'" [color]="'danger'">
                    Delete
                </app-button>
            </div>
        </div>
    </div>
</div>