@use "../../../../../styles/variables.scss" as *;
@use "../../../../../styles/mixings.scss" as *;

@keyframes slide-in {
  from {
    transform: translateX(120%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fade-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(120%);
  }
}

.fade-out {
  animation: fade-out 0.2s ease;
}

.slide-in {
  animation: slide-in 0.35s ease;
}

.horizontal-separator {
  border-width: 3px;
  border-radius: 3px;
  width: 90px;
}

.contact-details {
  padding: 40px;
  padding-top: 80px;
  overflow-x: hidden;

  @include breakpoint-down("md") {
    padding-top: 35px;
  }

  &__mobile-header {
    display: none;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    @include breakpoint-down("md") {
      display: flex;
    }

    .header__headline {
      font-weight: bold;
      font-size: 47px;
      margin: 0;
    }

    .header__subline {
      font-weight: 400;
      font-size: 20px;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
    margin-bottom: 30px;
    @include breakpoint-down("md") {
      display: none;
    }

    .header__headline {
      font-weight: bold;
      font-size: 61px;
      margin: 0;
      @include breakpoint-down("xl") {
        font-size: 52px;
      }
    }

    .header__subline {
      font-weight: 400;
      font-size: 27px;
      @include breakpoint-down("xl") {
        font-size: 22px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    .content__contact-heading {
      display: flex;
      flex-direction: row;
    }

    .further-information__headline {
      font-weight: 400;
      font-size: 20px;
      margin: 40px 0;
    }

    .futher-information__subline {
      font-size: 16px;
      font-weight: 700;

      &-content {
        font-size: 16px;
        margin-bottom: 30px;
      }
    }

    .subline-email {
      text-decoration: none;
      color: #007cee;
    }
  }
}

.contact-item {
  &__logo {
    .logo-initials {
      display: flex;
      justify-content: center;
      align-items: center;

      margin: 0;

      width: 120px;
      aspect-ratio: 1 / 1;
      border-radius: 100%;
      border: 3px solid #fff;
      font-size: 47px;

      color: white;
      @include breakpoint-down("md") {
        width: 80px;
        font-size: 27px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-left: 50px;
    @include breakpoint-down("md") {
      margin-left: 20px;
    }

    .contact-name {
      margin: 0;
      font-size: 47px;
      font-weight: 500;
      @include breakpoint-down("md") {
        font-size: 36px;
        font-weight: 700;
      }
    }

    .contact-email {
      color: #007cee;
    }
  }
}

.contact-action-buttons {
  max-width: 158px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include breakpoint-down("lg") {
    display: none;
  }
}

.action-button {
  text-decoration: none;

  .btn-inner {
    display: flex;

    .icon {
      margin-right: 12px;
    }

    span {
      color: $color-primary;
      text-decoration: none;
    }
  }

  &:hover {
    cursor: pointer;

    .btn-inner {
      transform: scale(1.04);
      transition: transform 0.3s ease-out;
    }

    ::ng-deep .icon {
      path {
        fill: $color-primary-hover !important;
      }
    }

    span {
      color: $color-primary-hover !important;
    }
  }
}

.action-button-menu {
  display: none;
  opacity: 0;
  box-shadow: 0px 4px 4px 0px #00000040;
  position: fixed;
  flex-direction: column;
  bottom: 177px;
  right: 33px;
  background-color: #fff;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all ease 0.3s;
  transform: scale(0.8, 0.8) translate(10%, 10%);

  .action-button {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.round-btn {
  display: none;
}

@include breakpoint-down("lg") {
  .round-btn {
    position: fixed;
    display: block;
    bottom: 108px;
    right: 32px;
  }
  .action-button-menu {
    display: flex;
  }
}

.fade-in {
  transform: scale(1, 1) translate(0%, 0%);
  transition: all ease 0.3s;
  opacity: 1;
}
