<div class="contact-details">
  <div class="contact-details__header">
    <h2 class="header__headline">Contacts</h2>
    <div class="vertical-separator"></div>
    <span class="header__subline">Better with a team</span>
  </div>
  <div class="contact-details__mobile-header">
    <h2 class="header__headline">Contacts</h2>
    <span class="header__subline">Better with a team</span>
    <div class="horizontal-separator"></div>
  </div>
  @if (currentContact) {
  <div class="contact-details__content slide-in" id="contactDetails">
    <div class="content__contact-heading">
      <div class="contact-item__logo">
        <p
          class="logo-initials"
          [style.background-color]="currentContact.id | coloredProfile"
        >
          {{ initialLettersService.getInitialLetters(currentContact) }}
        </p>
      </div>
      <div class="contact-item__info">
        <h3 class="contact-name">
          {{ currentContact.firstName }} {{ currentContact.lastName }}
        </h3>
        <div class="contact-action-buttons">
          <div class="action-button-wrapper">
            <a class="action-button" (click)="openEditModal()">
              <div class="btn-inner">
                <div [innerHTML]="svgContents['edit']" class="icon"></div>
                <span>Edit</span>
              </div>
            </a>
          </div>
          <div class="action-button-wrapper">
            <a class="action-button" (click)="openDeleteModal()">
              <div class="btn-inner">
                <div [innerHTML]="svgContents['delete']" class="icon"></div>
                <span>Delete</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <app-edit-contact-modal class="edit-modal"
      (deleteModal)="openDeleteModal()"
    ></app-edit-contact-modal>
    <app-delete-modal></app-delete-modal>

    <div class="contact-item__further-information">
      <h3 class="further-information__headline">Contact Information</h3>

      <p class="futher-information__subline">Email</p>
      <p class="futher-information__subline-content">
        <a [href]="'mailto:' + currentContact.email" class="subline-email">{{
          currentContact.email
        }}</a>
      </p>
      <p class="futher-information__subline">Phone</p>
      <p class="futher-information__subline-content subline-phone">
        {{ currentContact.phoneNumber }}
      </p>
    </div>
  </div>
  <div class="mobile-action-button-wrapper">
    @if(actionMenuOpen){
    <div class="action-button-menu" [class.fade-in]="animateActionMenu">
      <a class="action-button" (click)="openEditModal(); closeActionMenu()">
        <div class="btn-inner">
          <div [innerHTML]="svgContents['edit']" class="icon"></div>
          <span>Edit</span>
        </div>
      </a>
      <a class="action-button" (click)="openDeleteModal(); closeActionMenu()">
        <div class="btn-inner">
          <div [innerHTML]="svgContents['delete']" class="icon"></div>
          <span>Delete</span>
        </div>
      </a>
    </div>
    }

    <app-button
      iconSrc="assets/icons/more_vert.svg"
      altText="Add Contact"
      (btnClick)="toggleActionMenu()"
      [size]="'xsmall'"
      [round]="true"
      class="round-btn"
    >
      Add new contact
    </app-button>
  </div>

  }
</div>
