<div class="sidebar-wrapper">
  <div class="sidebar">
    <div class="upper-wrapper">
      <a routerLink="/"><img class="logo" src="assets/logo/join-logo-white.svg" alt="Join Logo" /></a>
      <nav class="main-nav">
        @if (loggedIn) {
        <a routerLink="summary" routerLinkActive="active">
          <div class="btn-inner">
            <div [innerHTML]="svgContents['summary']" class="icon icon-sub-margin-left-1"></div>
            <span>Summary</span>
          </div>
        </a>
        <a routerLink="addTask" routerLinkActive="active">
          <div class="btn-inner">
            <div [innerHTML]="svgContents['addTask']" class="icon"></div>
            <span>Add Task</span>
          </div>
        </a>
        <a routerLink="board" routerLinkActive="active">
          <div class="btn-inner">
            <div [innerHTML]="svgContents['board']" class="icon icon-sub-margin-left-2"></div>
            <span>Board</span>
          </div>
        </a>
        <a routerLink="contacts" routerLinkActive="active">
          <div class="btn-inner">
            <div [innerHTML]="svgContents['contacts']" class="icon"></div>
            <span>Contacts</span>
          </div>
        </a>
      } @else {
        <a routerLink="/">
          <div class="btn-inner">
            <div [innerHTML]="svgContents['login']" class="icon"></div>
            <span>Log In</span>
          </div>
        </a>
      }
      </nav>
    </div>
    <div class="lower-wrapper">
      <a routerLink="/privacy" class="lower-wrapper__link" routerLinkActive="active">Privacy Policy</a>
      <a routerLink="/legal" class="lower-wrapper__link" routerLinkActive="active">Legal Notice</a>
    </div>
  </div>
</div>