@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixings.scss" as *;

:host {
  height: calc(100% - $header-height);
  display: block;
  overflow-y: scroll;
  background-color: $color-primary-bg;

  @include breakpoint-down("lg") {
    height: calc(100% - $header-height - $footer-height);
  }

  @include breakpoint-down("md") {
    height: calc(100% - $header-height - $footer-height + 16px);
  }

  @include breakpoint-down("sm") {
    height: calc(100% - $header-height - $footer-height + 24px);
  }
}

.content-wrapper {
    min-height: 500px;
    background-color: $color-primary-bg;
}