@use '../../../../styles/variables.scss' as *;
@use '../../../../styles/mixings.scss' as *;

:host {
    height: 100%;
    width: 100%;
}

.logIn-wrapper {
    position: relative;
    height: 95%;
    width: 95%;
    margin: auto;
    padding: 24px 96px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba($color: #000000, $alpha: 0.04);
    overflow-y: auto;

    @include breakpoint-down('sm') {
        height: 100%;
        width: 80%;
        padding: 12px 20px;
        overflow: visible;
    }
}

.logIn-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logIn-title {
    font-size: 61px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .blue-underline {
        margin: 12px 0;
        height: 2px;
        width: 202px;
        background-color: $color-primary-hover;
    }

    @include breakpoint-down('md') {
        font-size: 52px;

        .blue-underline {
            width: 180px;
        }
    }

    @include breakpoint-down('sm') {
        font-size: 48px;

        .blue-underline {
            width: 80px;
        }
    }

    @include breakpoint-down('xxsm') {
        font-size: 32px;
    }
}

.logIn-window {
    height: 100%;
    width: 100%;
}

.logIn-form {
    height: 100%;
    width: 100%;
    margin-top: 12px;
}

.input-wrapper {
    position: relative;
    width: 100%;
    margin-top: 16px;

    .input-sm {
        height: 48px;
        width: 100%;
        font-size: 18px;
        font-family: Inter;
        font-weight: 400;

        @include breakpoint-down('xsm') {
            font-size: 16px;
        }
    }

    .input-sm::placeholder {
        color: $color-text;
    }

    .border {
        border: 1px solid $color-input-border;
        border-radius: 8px;
        padding: 8px;
    }

    .red-border {
        outline: none;
        border: 2px solid $color-danger-red !important;
    }

    .input-icon {
        position: absolute;
        height: 24px;
        width: 24px;
        top: 12px;
        right: 20px;
        background-color: white;
    }
}

.blue-focus {
    &:focus {
        outline: none;
        border: 2px solid $color-primary-hover !important;
    }

    &:focus:not(:focus-visible) {
        outline: none;
        border: 2px solid $color-primary-hover !important;
    }

    &:focus-visible {
        outline: none;
        border: 2px solid $color-primary-hover !important;
    }

    &:focus-within {
        outline: none;
        border: 2px solid $color-primary-hover !important;
    }
}

.warn-text {
    margin-top: 4px;
    color: $color-danger-red;
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

.button-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 24px;
    gap: 24px;

    &.mobile {
        display: none;
    }

    @include breakpoint-down('sm') {
        &.desktop {
            display: none;
        }

        &.mobile {
            display: block;
            width: 85%;
            max-width: 240px;
            margin: auto;
            word-break: keep-all;
        }

        .spacer {
            height: 24px;
        }
    }
}

.back-button {
    position: absolute;
    top: 48px;
    left: 48px;
    height: 48px;
    width: 48px;

    @include breakpoint-down('sm') {
        top: 30px;
        left: 24px;
    }
}

.input-wrapper.check {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: start;

    .blue-link {
        color: $color-primary-hover;
        text-decoration: none;
    }
}

.privacy-checkdiv {
    position: relative;
    height: 24px;
    width: 24px;

    .box {
        height: 16px;
        width: 16px;
        border: 2px solid $color-primary;
        border-radius: 4px;
    }

    .box.active {
        border-color: $color-primary;
        transition: border-color 0.15s ease;
    }

    .checkmark-slide {
        position: absolute;
        bottom: 0px;
        left: 2px;
        width: 28px;
        height: 28px;
    }

    .checkmark-wrap {
        width: 0%;
        overflow: hidden;
        transition: width 0.1s ease-in;
    }

    .checkmark-wrap.active {
        width: 100%;
        transition: width 0.2s ease-out;
    }

    .checkmark {
        width: 16px;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none !important;
}