@keyframes rotate-in {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(7deg);
    }
}

@keyframes rotate-out {
    from {
        transform: rotate(7deg);
    }
    to {
        transform: rotate(0deg);
    }
}
:host {
    .task-card {
        transition: transform ease 0.2s;
        transform: rotate(0deg);
    }
    &.cdk-drag-preview {
        overflow: visible;
        .task-card {
            animation: rotate-in 0.2s ease forwards;
            overflow: visible;
        }
    }
    &.cdk-drag-animating {
        .task-card {
            animation: rotate-out 0.25s ease forwards;
        }
    }
}

.task-card {
    background: #fff;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 3px #00000014;
    padding: 16px;
    width: 250px;
    cursor: grab;
    transition: all ease 0.2s;

    &:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        transform: translateY(-2px);
    }

    .task-type {
        font-size: 16px;
        color: #fff;
        background-color: rgb(83, 83, 83);
        padding: 4px 12px;
        border-radius: 8px;
        display: inline-block;
        margin-bottom: 12px;

        &.user-story {
            background-color: #0038ff;
        }

        &.technical {
            background-color: #1fd7c1;
        }
    }

    h3 {
        font-size: 16px;
        margin: 0 0 6px;
        color: #333;
    }

    p {
        font-size: 14px;
        color: #555;
        margin: 0 0 12px;
    }

    .progress-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 20px;
    }

    .progress-container {
        flex: 1;
        height: 8px;
        background-color: #e0e0e0;
        border-radius: 4px;
        overflow: hidden;
    }

    .progress-bar {
        height: 100%;
        background-color: rgb(69, 137, 255);
        transition: width 0.3s ease;
    }

    .progress-text {
        font-size: 12px;
        color: #666;
        white-space: nowrap;
    }

    .bottom-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
    }

    .assignees {
        display: flex;
        align-items: center;
    }

    .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #ccc;
        color: #fff;
        font-weight: 400;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;

        border: 1px solid #fff;
        margin-left: -8px;
        position: relative;
        z-index: 4;
    }

    .avatar:first-child {
        margin-left: 0;
    }

    .avatar:nth-child(1) {
        z-index: 1;
    }
    .avatar:nth-child(2) {
        z-index: 2;
    }
    .avatar:nth-child(3) {
        z-index: 3;
    }

    span {
        background: #eee;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: bold;
        color: #555;
    }
}

.priority-icon {
    width: 20px;
    height: 20px;
}

.cdk-drag-preview {
    transform: rotate(12deg);
}
