<div class="task-card" (click)="openModal()">
  <!-- Category Tag -->
  <div
    class="task-type"
    [class.user-story]="taskUserStory"
    [class.technical]="taskTechnical"
  >
    {{ taskCategory }}
  </div>

  <!-- Title & Description -->
  <h3>{{ task.title }}</h3>
  <p>{{ task.description | truncateString : 45 }}</p>

  <!-- Progress Bar -->
  @if(subtasksTotal() > 0) {
  <div class="progress-wrapper">
    <div class="progress-container">
      <div
        class="progress-bar"
        [style.width.%]="(subtasksDone() / subtasksTotal()) * 100"
      ></div>
    </div>
    <div class="progress-text">
      {{ subtasksDone() }}/{{ subtasksTotal() }} Subtasks
    </div>
  </div>
  }

  <!-- Bottom Row -->
  <div class="bottom-row">
    <!-- Assignees -->
    <div class="assignees">
  @for (a of assignedInitials.slice(0, 5); track $index) {
    <span class="avatar" [style.background-color]="a.color">
      {{ a.initials }}
    </span>
  }

  @if (assignedInitials.length > 5) {
    <span class="avatar more">
      +{{ assignedInitials.length - 5 }}
    </span>
  }
</div>

    <!-- Priority Icon -->
    <img [src]="taskPriority()" alt="Priority" class="priority-icon" />
  </div>
</div>
