@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixings.scss' as *;

.page-wrapper {
    height: 88%;
    width: 100%;
    background-color: $color-white;
    padding-top: 4%;
    border-radius: 16px;

    &.edit {
        height: 100%;
    }

    @include breakpoint-up('xxl') {
        max-width: 1444px;
        margin: auto;
    }

    @include breakpoint-down('md') {
        height: 100%;
    }
}

.background-grey {
    background-color: $color-primary-bg;
}

.title {
    font-size: 62px;
    line-height: 120%;
    font-weight: 700;
    margin-left: 12px;

    @include breakpoint-down('md') {
        font-size: 48px;
    }
}

.add-task-wrapper {
    height: 90%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;

    &.edit {
        height: 100%;
        width: 100%;
        overflow: visible;
    }

    @include breakpoint-down('md') {
        height: 100%;
        overflow: visible;
    }
}

.add-task {
    height: 100%;
    width: 100%;
    margin: auto;
}

.add-task-form {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

    &.edit {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    @include breakpoint-down('md') {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
}

.separator-bar {
     margin-top: 20px;
     height: 400px;
     width: 4%;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 2px;
     overflow: hidden;

    .separator {
        height: 100%;
        width: 2px;
        background-color: $color-text;
    }

    &.edit {
        display: none;
    }

    @include breakpoint-down('md') {
        display: none;
    }
}

.left-wrapper {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    &.edit {
        margin-top: 24px;
        height: 50%;
        width: 100%;
    }

    @include breakpoint-down('md') {
        margin-top: 24px;
        height: 50%;
        width: 100%;
    }
}

.right-wrapper {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    &.edit {
        height: 50%;
        width: 100%;
    }

    @include breakpoint-down('md') {
        height: 50%;
        width: 100%;
    }
}

.input-wrapper {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 0;

    .input {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        .input-title {
            display: flex;
            margin-bottom: 4px;
            font-size: 20px;
        }

        .input-sm {
            height: 48px;
            width: 100%;
            font-size: 18px;
            font-family: Inter;
            font-weight: 400;
        }

        .input-bg {
            height: 120px;
            width: 100%;
            font-size: 18px;
            font-family: Inter;
            font-weight: 400;
        }

        .multiple-select {
            height: 48px;
            width: 100%;
            font-size: 18px;
            font-family: Inter;
            font-weight: 400;
        }

        .single-select {
            height: 48px;
            width: 100%;
            font-size: 18px;
            font-family: Inter;
            font-weight: 400;
        }

        .border {
            border: 1px solid $color-input-border;
            border-radius: 8px;
            padding: 8px;
        }

        .red-border {
            outline: none;
            border: 2px solid $color-danger-red !important;
        }
    }
}

select {
    appearance: none;
    background-image: url('../../../../public/assets/icons/arrow_drop_down.svg');
    background-repeat: no-repeat;
    background-position: right 19.3333333px center;
    background-size: 8.3348px;
}

select:required:invalid {
    color: #666;
}

option {
    color: #000;
}

.assign-contact {
    z-index: 9;
}

.priority-wrapper {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4px;
    margin: 16px 0;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
}

.priority-btn-wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower-btn-wrapper {
    width: 95%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    margin-top: 8px;
    padding-bottom: 48px;
}

.blue-focus {
    &:focus {
        outline: none;
        border: 2px solid $color-primary-hover !important;
    }

    &:focus:not(:focus-visible) {
        outline: none;
        border: 2px solid $color-primary-hover !important;
    }

    &:focus-visible {
        outline: none;
        border: 2px solid $color-primary-hover !important;
    }

    &:focus-within {
        outline: none;
        border: 2px solid $color-primary-hover !important;
    }
}

.required-star {
    color: $color-danger-red;
}

.required-text-wrapper {
    width: 95%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 68px;

    &.edit {
        display: none;
    }

    @include breakpoint-down('md') {
        display: none;
    }
}

.required-text {
    display: flex;
    font-size: 18px;

    .required-star {
        margin-top: -2px;
    }
}

.warning-format {
    color: $color-danger-red !important;
    display: flex;
    justify-content: space-between;

    .btn {
        margin-top: 4px;
        padding: 4px;
        background-color: transparent;
        border: none;
        outline: none;
        text-decoration: underline;

        &:hover {
            color: $color-primary-hover;
        }
    }
}
