@use "./../../../styles/variables.scss" as *;
@use "./../../../styles/mixings.scss" as *;

:host {
  height: $header-height;
  display: block;

  @include breakpoint-down('md') {
    height: 80px;
  }
}

.head-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: end;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
  z-index: 10;
  height: 100%;

  .head {
    position: relative;
    width: 88%;
    margin: 0 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-menu-wrapper {
      position: relative;

      .user-menu {
        position: absolute;
        top: 77.5px;
        left: -60px;
        padding: 20px 6px;
        display: none;
        flex-direction: column;
        background-color: $color-primary;
        border-radius: 16px;
        border-top-right-radius: 0;

        @include breakpoint-down("md") {
          top: 64px;
        }


        a {
          white-space: nowrap;
          text-decoration: none;
          color: $color-text;
          padding: 12px 12px;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;
          transition: transform 0.2s;

          &:hover {
            background-color: $color-dark-hover;
            transform: scale(1.02) translateX(-1px) translateY(-0.6px);
            transition: transform 0.4s ease-out background-color 0.3s;
            color: $color-white;
            cursor: pointer;
          }

          @include breakpoint-down("md") {
            font-size: 14px;
            line-height: 100%;
          }
        }
      }

      .flex {
        display: flex;
      }
    }

    .right-wrapper {
      display: flex;
      align-items: center;

      .btn {
        height: 24px;
        width: 24px;
        margin-left: 8px;
        margin-right: 8px;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        background-color: transparent;
        border: 2px solid $color-dark-text;
        border-radius: 50%;
        color: $color-dark-text;
        transition: background-color 0.3s ease-out;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-size: 16px;
        }

        &:hover {
          cursor: pointer;
          background-color: #ebebeb;
          transition: background-color 0.2s ease-in;
        }
      }

      .help-btn {
        opacity: 1;
        transition: transform 0.4s ease-out;
        transition: opacity 0.2s ease-out !important;
      }

      .help-btn:hover {
        background-color: $color-white;
        cursor: pointer;
        transform: scale(1.18);
        transition: transform 0.4s ease-out;
      }

      .acc-btn {
        height: 56px;
        width: 56px;
        font-size: 18px;
        font-weight: bold;
        border-color: black;
        border-width: 2px;
        color: $color-primary-hover;

        @include breakpoint-down('md') {
          height: 48px;
          width: 48px;
          font-size: 16px;
        }

        @include breakpoint-down('sm') {
          height: 40px;
          width: 40px;
          font-size: 16px;
        }
      }
    }

    @include breakpoint-down("sm") {
          margin: 0 24px;
    }
  }
}

.logo {
  height: 56px;

  @include breakpoint-down('md') {
    height: 48px;
  }

  @include breakpoint-down('md') {
    height: 39.05px;
  }
}

.mobile {
  display: none;
}

.o-none {
  opacity: 0 !important;
  transition: opacity 0.2s ease-out !important;
  cursor: default !important;
}

@include breakpoint-down("lg") {
  .mobile {
    display: flex;
  }

  .desktop {
    display: none !important;
  }
}