@use '../../../styles/variables.scss' as *;
@use './../../../styles/mixings.scss' as *;

:host {
    height: calc(100% - $header-height);
    background-color: #f6f7f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include breakpoint-down('lg') {
        height: calc(100% - $header-height - $footer-height);
    }

    @include breakpoint-down('md') {
        height: calc(100% - $header-height - $footer-height + 16px);
    }

    @include breakpoint-down('sm') {
        height: calc(100% - $header-height - $footer-height + 24px);
    }
}

.empty-list-item {
    display: inline-flex;
    border: 1px dashed #a8a8a8;
    background-color: #e7e7e7;
    align-items: center;
    justify-content: center;
    max-height: 48px;
    height: 100%;
    border-radius: 10px;

    @include breakpoint-down('xxl') {
        max-width: 250px;
        width: 100%;
    }

    .item-text {
        font-size: 16px;
        font-weight: 400;
        color: #a8a8a8;
    }
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 90px 76px;
    padding-bottom: 0 !important;
    max-width: 1280px;
    width: 100%;

    @include breakpoint-down('xxl') {
        padding: 60px 30px;
    }

    @include breakpoint-down('lg') {
        padding: 40px 20px;
    }

    @include breakpoint-down('md') {
        padding: 20px 10px;
    }
}

.board-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .mobile-cancel-btn {
        display: none;
    }
    @include breakpoint-down('md') {
        flex-direction: column;
        align-items: flex-start;

        .cancel-btn {
            display: none;
        }
        .mobile-cancel-btn {
            display: inline;
        }
    }

    .headline-container {
        display: flex;
        flex-direction: row;

        @include breakpoint-down('md') {
            margin-bottom: 10px;
            width: 100%;
            justify-content: space-between;
        }
    }
}

.header__actions {
    display: flex;
    flex-direction: row;
    gap: 20px;
    @include breakpoint-down('md') {
        justify-content: space-between;
        width: 100%;
    }
}

.search-input-field {
    display: flex;
    align-items: center;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    padding: 5px 14px;
    min-width: 300px;
    background-color: #fff;
    @include breakpoint-down('md') {
        min-width: unset;
        width: 100%;
    }

    &::placeholder {
        color: #d1d1d1;
    }

    .text-input {
        border: none;
        outline: none;
        flex-grow: 1;
        font-size: 20px;
        padding: 0;
        background-color: transparent;
        @include breakpoint-down('md') {
            width: 100%;
        }
    }

    .search-icon-container {
        margin-left: 10px;
        padding-left: 15px;
        cursor: pointer;
        border-left: 1px solid #d1d1d1;
    }
}

.board-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    overflow-y: auto;

    @include breakpoint-down('xxl') {
        flex-direction: column;
        gap: 26px;
    }
    @include breakpoint-down('md') {
        margin-top: 20px;
    }

    .list-container {
        display: flex;
        flex-direction: column;
    }

    .task-list {
        margin-top: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        min-width: 252px;
        gap: 16px;
        border-radius: 24px;
        min-height: 190px;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: none;
        @include breakpoint-down('xxl') {
            scrollbar-width: thin;
            flex-direction: row;
            overflow-y: hidden;
            overflow-x: auto;
        }
    }

    .cdk-drag-placeholder {
        opacity: 0.5;
    }

    .cdk-drop-list-dragging {
        :not(.cdk-drag-placeholder) {
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }
    }

    .cdk-drag {
        transition: all ease 0.3s;
        &.cdk-drag-preview {
            transform: rotate(12deg);
        }
    }
}

.list-header {
    display: inline-flex;
    justify-content: space-between;

    @include breakpoint-down('xxl') {
        max-width: 250px;
        width: 100%;
    }

    @include breakpoint-down('sm') {
        max-width: unset;
        width: 100%;
    }

    .list-add-task-button {
        aspect-ratio: 1 / 1;
        height: 24px;
        transition: all ease 0.3s;
        border-radius: 10px;
        border: none;
        &:hover {
            background-color: rgba(0, 0, 0, 0.096);
            cursor: pointer;
        }

        @include breakpoint-down('sm') {
            margin-right: 10px;
        }
    }
}

.cdk-drag-preview {
    transform: rotate(12deg);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
