/* You can add global styles to this file, and also import other style files */
@use './styles/variables.scss' as *;
@use './styles/mixings.scss' as *;

@font-face {
    font-family: Inter;
    src: url(../public/assets/fonts/Inter-VariableFont.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: $body-font-family;
}

app-root {
    display: block;
    height: 100%;
    width: 100%;
}

.vertical-separator {
    height: 58px;
    border: 3px solid #29abe2;
    border-radius: 3px;
}

.horizontal-separator {
    width: 58px;
    border-top: 2px solid #29abe2;
    height: 0;
    margin-top: 10px;
    margin-right: auto;
}

.page-headline {
    font-weight: bold;
    font-size: 61px;
    @include breakpoint-down('md') {
        font-size: 47px;
    }
}

// Notification Styles
.notification {
    position: fixed;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
    z-index: 999999;
    animation: fadeIn var(--fade-in-duration, 400ms) forwards,
        fadeOut var(--fade-out-duration, 800ms) forwards var(--fade-out-delay, 2000ms);

    &.success {
        background-color: #28a745;
    }
    &.error {
        background-color: #dc3545;
    }
    &.warning {
        background-color: #ffc107;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

