<div class="contact-list">
  @for (contacts of contactsService.contacts | objectToArray; track
  contacts.key) {
  <div class="contact-list__contact-separator">
    <div class="contact-separator__content">
      {{ contacts.key }}
    </div>
  </div>
  @for (contact of contacts.value; track $index){
  <div
    class="contact-list__contact-item"
    [class.active]="activeContactId === contact.id"
    (click)="openContactDetails(contact.id)"
  >
    <div class="contact-item__logo">
      <p
        class="logo-initials"
        [style.background-color]="contact.id | coloredProfile"
      >
        {{ initialLetterService.getInitialLetters(contact) }}
      </p>
    </div>
    <div class="contact-item__info">
      <h3 class="contact-name">
        {{ contact.firstName }} {{ contact.lastName }}
      </h3>
      <span class="contact-email">{{ contact.email }}</span>
    </div>
  </div>
  } }

  <app-button
        iconSrc="assets/icons/person_add.svg"
        altText="Add Contact"
        (btnClick)="openAddContactModal()"
        [size]="'xsmall'"
        [round]="true"
        class="round-btn"
      >
        Add new contact
      </app-button>

      <app-add-contact-modal></app-add-contact-modal>
</div>
